<header class="header-6">
  <div class="branding">
      <a href="..." class="nav-link">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">Electron Serial Port</span>
      </a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem *ngFor="let port of comPorts">{{port.comName}}</a>
            <a clrDropdownItem (click)="connectPort()">Refresh Ports</a>
            
          </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>
